.signUpBackground {
  /* background-image: url(../SignIn/assets/images/black-and-white-club-crowd-788824.jpg); */
  /* Set rules to fill background */
  opacity: .4;
  min-height: 100%;
  /* min-width: 1024px; */
  min-width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#accountSignUp {
    margin-top: 33px;
    margin-left: 5%;
    /* margin-bottom: 0px; */
    color: #262626;
    font-size: 1.25em;
    margin-bottom: 25px;
    position: absolute;
    bottom: 30px;
}

#signUpLink {
    color: #262626;
    /* margin-bottom: 10px;
    margin-bottom: 10px;  */
    /* position: absolute; */
}

#signUpLink:hover {
    color: #c53e29;
}

#signUpHeader {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5%;
    color: #262626;
    font-size: 40px;
}

#signUpBox {
    height: 375px;
    width: 45%;
    border: 2px solid;
    border-color: 255, 255, 255, 0.2;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    /* float: right; */
    background-color: #ffffff;
    opacity: 0.6;
    font-family: 'Prompt', sans-serif;
    color: black;
}

#signUpBox:hover {
    opacity: .9;
}

#signUpButton {
  background-color: #c53e29;  
  border: none;
  color: white;
  padding: 10px 25px;
  margin-top: 7px;
  margin-left: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
}

#signUpFullName {
  width: 90%;
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  /* display: inline-block; */
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 25px;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
}

#signUpEmail {
    width: 90%;
    /* padding: 12px 20px; */
    /* margin: 8px 0;
    display: inline-block; */
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 25px;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
}

#newPassword {
    width: 90%;
    /* padding: 12px 20px; */
    /* margin: 8px 0;
    display: inline-block; */
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 25px;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
}

#confirmNewPassword {
    width: 90%;
    /* padding: 12px 20px; */
    /* margin: 8px 0;
    display: inline-block; */
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 25px;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
}

/* .smallBackground {
    background-color: green;
} */


@media all and (max-width: 990px) { 
    #signUpBox {
        width: 60%;
    }
}

@media all and (max-width: 640px) { 
    #signUpBox {
        width: 90%;
        margin-top: 40px;
    }

}