
.signInBackground {  
  /* background-image: url(../SignIn/assets/images/black-and-white-club-crowd-788824.jpg); */
  opacity: .4;
  /* Set rules to fill background */
  min-height: 100%;
  /* min-width: 1024px; */
  min-width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#signInJumbotron {
    margin-top: 6%;
}



#signInHeader {
    margin-top: 30px;
    margin-bottom: 10px;
    /* margin-left: 31px; */
    margin-left: 5%;
    color: #262626;
    font-size: 40px;
}

#signInBox {
    height: 375px;
    /* width: 600px; */
    width: 45%;
    border: 2px solid rgba(217, 217, 217, 0.65);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: #ffffff;
    opacity: 0.6;
    font-family: 'Prompt', sans-serif;
    color: #262626;
    position: relative;   
}

#signInBox:hover {
    opacity: .9;
}

#signInButton {
  background-color: #c53e29;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
  padding: 10px 25px;
  margin-top: 7px;
  margin-left: 5%;
  display: inline-block;
}

#emailInput {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
  box-sizing: border-box;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
}

#emailInput::-webkit-input-placeholder  {
    /* padding-left: 15px; */
    padding-left: 3%;
}

#passwordInput::-webkit-input-placeholder  {
    /* padding-left: 15px; */
    padding-left: 3%;
}

#passwordInput {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-family: 'Prompt', sans-serif;
    font-size: 1.5em;
}

/* #passwordForget {
    margin-left: 15px;
    color: pink;
} */
@media all and (max-width: 990px) { 
    #signInBox {
        width: 60%;
    }
}

@media all and (max-width: 640px) { 
    #signInBox {
        width: 90%;
        margin-top: 40px;
    }

}

@media all and (max-width: 320px) { 
   /* #signInBox {
       margin-top: 40px;
   } */
}