homeBackdrop {
    background-color: #f2f2f2;
    opacity: .6;
}

.homeContainer {
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    height: 350px;
}

/* .homeBackground {
    height: 350px;
    min-width: 100%;
    text-align: center;
    position: relative;
    background-size: 100%;
    margin-bottom: 0;
    opacity: .4;
} */

.homeBackground {  
    /* background-image: url(../SignIn/assets/images/black-and-white-club-crowd-788824.jpg); */
    opacity: .4;
    /* Set rules to fill background */
    min-height: 500px;
    /* min-width: 1024px; */
    min-width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    /* Set up proportionate scaling */
    width: 100%;
    /* height: auto;	 */
    /* Set up positioning */
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }



/* Makes the map show up across width of page, but only heigh half way down the page */
#map {
    height: 50%;
}


/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(sienna, light-brown sienna);
} */
.bannerLogo {
    text-align: center;
    height: 50%;
    /* background-color: black; */
    font-family: 'Monoton', cursive;
    /* font-family: 'Bungee Inline', cursive; */
    /* font-family: 'Bungee Shade', cursive; */
    /* font-family: 'Codystar', cursive; */
    opacity: 1.0 !important;
    font-size: 70px; 
    text-shadow: 3px 3px black;
    /* padding: 30px; */
    margin-top: 0px;
    /* box-shadow: 10px 10px grey; */
    /* background-image: url(
        https://d2x3rgjr0n9rv4.cloudfront.net/2017/07/29121030/best_ovp_broadcast_live_music_show_feat-354x214.jpg
    ); */
}

#queryBreak {
    display:none;
}

.bannerLogo span:nth-child(1) {
    color: #e3dbb7;
}
.bannerLogo span:nth-child(2) {
    color: #e6c236;
}
.bannerLogo span:nth-child(3) {
    color: #d78427;
}
.bannerLogo span:nth-child(4) {
    color: #69c3b1;
}
.bannerLogo span:nth-child(5) {
    color: #c53e29;
}
.bannerLogo span:nth-child(6) {
    color: #7b421c;
}
.bannerLogo span:nth-child(7) {
    color: #a4c327;
}
.bannerLogo span:nth-child(10) {
    color: #6b7b2a;
}
.bannerLogo span:nth-child(11) {
    color: #69c3b1;
}
.bannerLogo span:nth-child(12) {
    color: #388172;
}
.bannerLogo span:nth-child(13) {
    color: #e3dbb7;
}
.bannerLogo span:nth-child(14) {
    color: #e6c236;
}
.bannerLogo span:nth-child(15) {
    color: #d78427;
}
.bannerLogo span:nth-child(16) {
    color: #c53e29;
}

@media all and (max-width: 990px) { 
    #queryBreak {
        display: block;
    }
}

@media all and (max-width: 640px) { 
    .bannerLogo {
        font-size: 50px;
        margin-top: 40px;
    }
 }

@media all and (max-width: 320px) { 
   /* .bannerLogo {
       font-size: 50px;
   } */
}