.homeBackground {
    /* height: 347.33px; */
    height: 350px;
    text-align: center;
    /* padding-top: 40px; */
    position: relative;
    background-size: 100%;
    background-image: url(../SignIn/assets/images/black-and-white-club-crowd-788824.jpg);
    margin-bottom: 0;
}

/* Makes the map show up across width of page, but only heigh half way down the page */
#map {
    height: 50%;
}


/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(sienna, light-brown sienna);
} */
.bannerLogo {
    text-align: center;
    height: 50%;
    /* background-color: black; */
    font-family: 'Monoton', cursive;
    /* font-family: 'Bungee Inline', cursive; */
    /* font-family: 'Bungee Shade', cursive; */
    /* font-family: 'Codystar', cursive; */
    font-size: 70px; 
    text-shadow: 3px 3px black;
    /* padding: 30px; */
    margin-top: 25px;
    /* box-shadow: 10px 10px grey; */
    /* background-image: url(
        https://d2x3rgjr0n9rv4.cloudfront.net/2017/07/29121030/best_ovp_broadcast_live_music_show_feat-354x214.jpg
    ); */
}
/* h1, h2 {
    color: sienna;
    margin-top: 0%;
    text-shadow: 2px 2px black;
} */
/* .googlePlacement {
    text-align: center;
    height: 60%;
    width: 50%;
    border: 1px solid;
    padding: 150px;
    box-shadow: 10px 10px grey;
    background-image: url(
        https://previews.123rf.com/images/zhudifeng/zhudifeng1205/zhudifeng120503476/13591591-an-old-brass-compass-on-a-treasure-map-background.jpg    );
    background-repeat: no-repeat;
    float: left;
    margin-right: 20px;
    margin: 0;
} */

/* .jumbotron {
    font-size: 70px;
} */

.bannerLogo span:nth-child(1) {
    color: #e3dbb7;
}
.bannerLogo span:nth-child(2) {
    color: #e6c236;
}
.bannerLogo span:nth-child(3) {
    color: #d78427;
}
.bannerLogo span:nth-child(4) {
    color: #69c3b1;
}
.bannerLogo span:nth-child(5) {
    color: #c53e29;
}
.bannerLogo span:nth-child(6) {
    color: #7b421c;
}
.bannerLogo span:nth-child(7) {
    color: #a4c327;
}
.bannerLogo span:nth-child(9) {
    color: #6b7b2a;
}
.bannerLogo span:nth-child(10) {
    color: #69c3b1;
}
.bannerLogo span:nth-child(11) {
    color: #388172;
}
.bannerLogo span:nth-child(12) {
    color: #e3dbb7;
}
.bannerLogo span:nth-child(13) {
    color: #e6c236;
}
.bannerLogo span:nth-child(14) {
    color: #d78427;
}
.bannerLogo span:nth-child(15) {
    color: #c53e29;
}